<!DOCTYPE html>
<html lang="en">
<head>
  {{> partial_head.html}}
</head>
<body>
  <header>
    <h1 id="pn">{{PN}}</h1>
    <p class="slogan">{{SLOGAN}}</p>
  </header>
  <nav>
    {{> partial_nav.html}}
  </nav>
  <main>
    {{> partial_main.html}}
  </main>
  <footer>
    {{> partial_footer.html}}
  </footer>
    <div aria-hidden="true" aria-label="Image viewer" id="lightbox" role="dialog">
      <img alt="Expanded image" id="lightbox-img"/>
    </div>
    <script src="/js/minipcb.js"></script>
</body>
</html>
